.newtolisk{
    background-color: #fff;
    color: #000;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 100px;
}

.newtolisk--wrap{
    width: 70%;
    margin: auto;
    padding-top: 150px;
    display: flex;
    align-items: flex-start;
}

.newtolisk--container{
    width: 100%;
    height: auto;
    margin-bottom: 150px;
}

.newtolisk--container{
    width: 50%;
    height: auto;
    margin-bottom: 150px;
}

.newtolisk--container:first-child{
    width: 35%;
    margin-right: 15%;
    display: flex;
    align-items: center;
}

.newtolisk--section{
    margin-bottom: 75px;
    padding-bottom: 75px;
    border-bottom: 1px solid #eee;
}

.newtolisk--section h1, h2{
    color: #000;
    font-weight: 700;
    font-size: 1.3em;
    margin-bottom: 15px;
}

.hero.is-info .newtolisk a:not(.button) {
    color: #0043ff;
    font-weight: 500;
}

.newtolisk--section p{
    color: #000;
    line-height: 1.8em;
    margin-bottom: 5px;
    font-size: 0.9em;
    font-weight: 300;
    text-align: justify;
}

.support-menu{
    width: 75%;
}

.support-wrap{
    margin-bottom: 25px;
}

.support-menu ul{
    padding-left: 15px;
    border-left: 1px solid #ccc;
}

.newtolisk--info-image{
    width: 75%;
    margin: auto;
}

@media only screen and (max-width: 1024px) {

    .newtolisk{
        padding-bottom: 50px;
    }

    .newtolisk--wrap{
        width: 80%;
        padding-top: 75px;
        flex-direction: column;
    }

    .newtolisk--container{
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }

    .newtolisk--container:first-child{
        width: 40%;
        margin: auto;
        margin-bottom: 75px;
    }

    .newtolisk--info-image{
        width: 100%;
        margin: auto;
    }

    .newtolisk--info-image img{
        margin: auto;
    }

    .newtolisk--section h1, h2{
        font-size: 1.1em;
    }

    .newtolisk--section p{
        font-size: 0.9em;
    }

    .newtolisk--section{
        margin-bottom: 50px;
        padding-bottom: 50px;
    }

    .newtolisk--section:last-child{
        border-bottom: none;
        padding-bottom: 0px;
    }

}
