.newtolisk{
    background-color: #fff;
    color: #000;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 100px;
}

.newtolisk--wrap{
    width: 70%;
    margin: auto;
    padding-top: 100px;
    display: flex;
    align-items: flex-start;
}

.newtolisk--container{
    width: 100%;
    height: auto;
    margin-bottom: 150px;
}

.newtolisk--container{
    width: 50%;
    height: auto;
    margin-bottom: 150px;
}

.newtolisk--container:first-child{
    width: 45%;
    margin-right: 5%;
}

.newtolisk--section{
    margin-bottom: 150px;
}

.newtolisk--section h1, h2{
    color: #000;
    font-weight: 700;
    font-size: 1.3em;
    margin-bottom: 15px;
}

.hero.is-info .newtolisk a:not(.button) {
    color: #0043ff;
    font-weight: 500;
}

.newtolisk--section p{
    color: #000;
    line-height: 1.8em;
    margin-bottom: 25px;
    font-size: 0.9em;
    font-weight: 300;
    text-align: justify;
}

.men{
    border-right: 1px solid #888;
}
